html {
  scroll-behavior: smooth;
}
body {
  background-color: #1d1d1d;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Almarena';
  src: local('Almarena'), url(./Assets/fonts/Almarena.otf) format('opentype');
}
@font-face {
  font-family: 'Neue-Regular';
  src: local('Neue-Regular'),
    url(./Assets/fonts/Neue-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Neue-Light';
  src: local('Neue-Light'),
    url(./Assets/fonts/Neue-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Neue-Bold';
  src: local('Neue-Bold'), url(./Assets/fonts/Neue-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Neue-Medium';
  src: local('Neue-Medium'),
    url(./Assets/fonts/Neue-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Almarena-Light';
  src: local('Almarena-Light'),
    url(./Assets/fonts/Almarena-Light.woff) format('woff');
}

@font-face {
  font-family: 'Almarena-Regular';
  src: local('Almarena-Regular.woff'),
    url(./Assets/fonts/Almarena-Regular.woff) format('woff');
}
